<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Java Town Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="bg-info">
    <div class="row bg-primary justify-content-center">
        <h1 class="col-6 text-center">Books</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Book type</th>
                        <th>Pages</th>
                        <th>Editor</th>
                        <th>Year</th>
                        <th>Copies</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="book, stat : ${books}">
                        <tr>
                            <td th:text="${book.getId()}"></td>
                            <td th:text="${book.getTitle()}"></td>
                            <td th:text="${book.getAuthor()}"></td>
                            <td th:text="${book.getBookType()}"></td>
                            <td th:text="${book.getNbPages()}"></td>
                            <td th:text="${book.getEditor()}"></td>
                            <td th:text="${book.getPublicationYear()}"></td>
                            <td th:text="${book.getNbCopies()}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>