<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Java Town Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="bg-info">
    <div class="row bg-primary justify-content-center">
        <h1 class="col-6 text-center">Retourner un document</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <form action="#" th:action="@{/returnDocument}" th:object="${borrowDTO}" method="post">
                <table>
                    <tr>
                        <td><label>Identification du client</label></td>
                        <td>
                            <select th:field="*{clientId}">
                                <th:block th:each="client, stat : ${clients}">
                                    <option th:value="${client.id}" th:text="${client.id}"></option>
                                </th:block>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Identification du livre</label></td>
                        <td>
                            <select th:field="*{documentId}">
                                <th:block th:each="book, stat : ${books}">
                                    <option th:value="${book.id}" th:text="${book.id}"></option>
                                </th:block>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="save" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>

</html>